@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="text1" style="position:absolute;left:25px;top:50px;width:76px;height:15px;z-index:1;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Invoice No.</strong></span>
    </div>
        
    <div id="text2" style="position:absolute;left:605px;top:50px;width:76px;height:15px;z-index:2;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Language</strong></span>    
    </div>
        
    <div id="text3" style="position:absolute;left:704px;top:50px;width:76px;height:15px;z-index:3;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Currency</strong></span>    
    </div>
        
    <input type="text" id="no_inv" style="position:absolute;left:25px;top:72px;width:66px;height:25px;z-index:4;"name="no_inv" value="" spellcheck="false">

    <select name="bahasa" size="1" id="bahasa" style="position:absolute;left:605px;top:72px;width:76px;height:25px;z-index:5;">    
    </select>
        
    <select name="matauang" size="1" id="matauang" style="position:absolute;left:704px;top:72px;width:266px;height:25px;z-index:6;">
    </select>
        
    <div id="text4" style="position:absolute;left:25px;top:99px;width:76px;height:15px;z-index:7;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>From</strong></span>
    </div>
        
    <div id="text5" style="position:absolute;left:704px;top:99px;width:76px;height:15px;z-index:8;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Date</strong></span>    
    </div>
        
    <div id="text6" style="position:absolute;left:704px;top:150px;width:76px;height:15px;z-index:9;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Invoice Due</strong></span>
    </div>
        
    <div id="text7" style="position:absolute;left:704px;top:204px;width:167px;height:15px;z-index:10;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Purchase Order Number</strong></span>
    </div>
        
    <div id="text8" style="position:absolute;left:25px;top:204px;width:76px;height:15px;z-index:11;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>To</strong></span>    
    </div>

    <textarea name="TextArea1" id="TextArea1" style="position:absolute;left:25px;top:120px;width:265px;height:57px;z-index:12;" rows="3" cols="31" spellcheck="false"></textarea>
        
    <input type="text" id="Editbox2" style="position:absolute;left:25px;top:225px;width:265px;height:60px;z-index:13;" name="Editbox1" value="" spellcheck="false">
    
    <input type="text" id="Editbox3" style="position:absolute;left:704px;top:120px;width:265px;height:25px;z-index:14;" name="Editbox1" value="" spellcheck="false">
        
    <select name="Combobox1" size="1" id="Combobox3" style="position:absolute;left:704px;top:170px;width:265px;height:25px;z-index:15;">    
    </select>
        
    <input type="text" id="Editbox4" style="position:absolute;left:704px;top:225px;width:265px;height:25px;z-index:16;" name="Editbox1" value="" spellcheck="false">
        
    <div id="text9" style="position:absolute;left:25px;top:326px;width:76px;height:15px;z-index:17;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Name</strong></span>
    </div>
    
    <div id="text10" style="position:absolute;left:610px;top:326px;width:60px;height:15px;z-index:18;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Quantity</strong></span>
    </div>
    
    <input type="text" id="Editbox5" style="position:absolute;left:25px;top:347px;width:527px;height:49px;z-index:19;" name="Editbox1" value="" spellcheck="false">
    
    <input type="text" id="Editbox6" style="position:absolute;left:583px;top:347px;width:77px;height:25px;z-index:20;" name="Editbox1" value="" spellcheck="false">
    
    <input type="text" id="Editbox7" style="position:absolute;left:681px;top:347px;width:77px;height:25px;z-index:21;" name="Editbox1" value="" spellcheck="false">
    
    <input type="text" id="Editbox8" style="position:absolute;left:780px;top:347px;width:180px;height:25px;z-index:22;" name="Editbox1" value="" spellcheck="false">
    
    <div id="wb_Text11" style="position:absolute;left:733px;top:326px;width:35px;height:15px;z-index:23;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Rate</strong></span>
    </div>
    
    <div id="wb_Text12" style="position:absolute;left:911px;top:326px;width:59px;height:15px;z-index:24;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Amount</strong></span>
    </div>
    
    <select name="Combobox1" size="1" id="Combobox4" style="position:absolute;left:681px;top:379px;width:76px;height:28px;z-index:25;">
    </select>
    
    <input type="submit" id="Button1" name="" value="New Line" style="position:absolute;left:25px;top:415px;width:76px;height:29px;z-index:26;">
    
    <div id="wb_Text13" style="position:absolute;left:502px;top:455px;width:60px;height:15px;z-index:27;">
        <span style="color:#000000;font-family:Arial;font-size:13px;">Sub Total</span>
    </div>
    
    <div id="wb_Text14" style="position:absolute;left:871px;top:455px;width:99px;height:15px;z-index:28;">
        <span style="color:#000000;font-family:Arial;font-size:13px;">000.00</span>
    </div>
    
    <input type="text" id="Editbox9" style="position:absolute;left:566px;top:481px;width:34px;height:25px;z-index:29;" name="Editbox1" value="" spellcheck="false">
    
    <div id="wb_Text15" style="position:absolute;left:871px;top:481px;width:99px;height:15px;z-index:30;">
        <span style="color:#000000;font-family:Arial;font-size:13px;">000.00</span>
    </div>
    
    <div id="wb_Text16" style="position:absolute;left:871px;top:507px;width:99px;height:15px;z-index:31;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>000.00</strong></span>
    </div>
    
    <div id="wb_Text17" style="position:absolute;left:502px;top:481px;width:60px;height:15px;z-index:32;">
        <span style="color:#000000;font-family:Arial;font-size:13px;">Discount</span>
    </div>
    
    <div id="wb_Text18" style="position:absolute;left:502px;top:507px;width:60px;height:15px;z-index:33;">
        <span style="color:#000000;font-family:Arial;font-size:13px;"><strong>Total</strong></span>
    </div>
</div>
